.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.containerContent {
  max-width: var(--content-container-width);
}

.containerHeader {
  max-width: var(--header-container-width);
}

@media (max-width: 767px) {
  .container {
    padding-inline: 32px;
  }
}