.announcement-bar {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.announcement-bar__text {
  padding: var(--space-2) var(--space-4);

  color: inherit;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  text-align: center;
}